<a href="https://colab.research.google.com/github/abrahamjm01/abrahamjacobo/blob/main/A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import statsmodels.api as sm
import pandas as pd

In [ ]:
path='/content/drive/MyDrive/Classroom/antropometria-dataset.csv'

In [ ]:
df= pd.read_csv(path)
df

,folio,intp,entidad,desc_ent,sexo,edad,meses,peso,ropa,talla,...,hpresion,tbrazo,htension,PrimaryLast,code_upm,est_dis,est_urb,est_marg,pondef,est_var
0,210295,2,21,PUEBLA,2,38,8,73.70,2,146.40,...,16:30,2,16:35,1,R2101,5,3,1,3470.002176,215
1,101655,3,10,DURANGO,2,11,11,35.65,2,145.10,...,15:25,3,15:25,1,M1041,1,1,1,417.946672,101
2,10287,6,1,AGUASCALIENTES,2,18,8,54.80,1,162.00,...,9:40,1,9:40,1,M0108,5,3,1,472.980811,15
3,91526,4,9,DISTRITO FEDERAL,1,10,8,33.40,2,146.50,...,7:40,3,7:45,1,M0931,4,3,2,1832.581391,94
4,210939,3,21,PUEBLA,2,19,3,97.95,2,161.00,...,6:00,2,6:00,1,M2123,5,3,1,7622.066564,215
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18635,300116,2,30,VERACRUZ DE IGNACIO DE LA LLAVE,2,73,11,75.80,1,141.15,...,18:00,1,18:05,1,R3002,5,3,1,7615.607749,305
18636,40253,1,4,CAMPECHE,2,75,0,69.40,1,144.80,...,18:40,1,18:40,1,M0408,5,3,1,195.314670,45
18637,301099,1,30,VERACRUZ DE IGNACIO DE LA LLAVE,1,86,7,46.75,2,149.20,...,8:00,3,23:00,1,M3024,2,1,2,1758.912979,302
18638,250801,1,25,SINALOA,2,72,7,59.05,2,142.50,...,6:02,3,6:02,1,M2512,3,2,1,2354.581350,253
18639,11786,2,1,AGUASCALIENTES,2,71,8,80.00,2,150.65,...,13:50,3,13:00,1,M0143,2,1,2,591.847039,12

In [ ]:
df

,folio,intp,entidad,desc_ent,sexo,edad,meses,peso,ropa,talla,...,hpresion,tbrazo,htension,PrimaryLast,code_upm,est_dis,est_urb,est_marg,pondef,est_var
0,210295,2,21,PUEBLA,2,38,8,73.70,2,146.40,...,16:30,2,16:35,1,R2101,5,3,1,3470.002176,215
1,101655,3,10,DURANGO,2,11,11,35.65,2,145.10,...,15:25,3,15:25,1,M1041,1,1,1,417.946672,101
2,10287,6,1,AGUASCALIENTES,2,18,8,54.80,1,162.00,...,9:40,1,9:40,1,M0108,5,3,1,472.980811,15
3,91526,4,9,DISTRITO FEDERAL,1,10,8,33.40,2,146.50,...,7:40,3,7:45,1,M0931,4,3,2,1832.581391,94
4,210939,3,21,PUEBLA,2,19,3,97.95,2,161.00,...,6:00,2,6:00,1,M2123,5,3,1,7622.066564,215
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18635,300116,2,30,VERACRUZ DE IGNACIO DE LA LLAVE,2,73,11,75.80,1,141.15,...,18:00,1,18:05,1,R3002,5,3,1,7615.607749,305
18636,40253,1,4,CAMPECHE,2,75,0,69.40,1,144.80,...,18:40,1,18:40,1,M0408,5,3,1,195.314670,45
18637,301099,1,30,VERACRUZ DE IGNACIO DE LA LLAVE,1,86,7,46.75,2,149.20,...,8:00,3,23:00,1,M3024,2,1,2,1758.912979,302
18638,250801,1,25,SINALOA,2,72,7,59.05,2,142.50,...,6:02,3,6:02,1,M2512,3,2,1,2354.581350,253
18639,11786,2,1,AGUASCALIENTES,2,71,8,80.00,2,150.65,...,13:50,3,13:00,1,M0143,2,1,2,591.847039,12

In [ ]:
ndf=df[['cadera','peso','entidad','sexo','diastol','sistol','edad','cintura']]
ndf.dropna(inplace=True)
ndf

/usr/local/lib/python3.8/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

       cadera   peso  entidad  sexo  diastol  sistol  edad  cintura
0       106.0  73.70       21     2    53.25   63.25    38    98.70
1        75.0  35.65       10     2    50.00   70.00    11    64.00
2        94.3  54.80        1     2    41.00   70.50    18    67.60
3        72.2  33.40        9     1    64.00   71.00    10    60.60
4       127.0  97.95       21     2    53.50   72.00    19   113.00
...       ...    ...      ...   ...      ...     ...   ...      ...
18635   113.0  75.80       30     2    95.50  221.00    73    93.00
18636   113.7  69.40        4     2    78.00  222.25    75   103.05
18637    86.0  46.75       30     1    66.00  230.00    86    71.35
18638    94.8  59.05       25     2   100.00  235.00    72    99.95
18639   120.0  80.00        1     2   150.00  240.00    71   108.15

[18032 rows x 8 columns]

In [ ]:
modelA=sm.OLS.from_formula('cadera~peso',data=ndf)
resultA=modelA.fit()
resultA.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 cadera   R-squared:                       0.604
Model:                            OLS   Adj. R-squared:                  0.604
Method:                 Least Squares   F-statistic:                 2.748e+04
Date:                Fri, 02 Dec 2022   Prob (F-statistic):               0.00
Time:                        19:03:55   Log-Likelihood:                -65165.
No. Observations:               18032   AIC:                         1.303e+05
Df Residuals:                   18030   BIC:                         1.304e+05
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     57.4600      0.252    228.032      0.000      56.966      57.954
peso           0.6227      0.004    165.771      0.000       0.615       0.630
==============================================================================
Omnibus:                    22321.754   Durbin-Watson:                   2.002
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          6875856.023
Skew:                           6.463   Prob(JB):                         0.00
Kurtosis:                      97.786   Cond. No.                         253.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [ ]:
a=resultA.resid
b=resultA.fittedvalues

In [ ]:
a

0         2.650177
1        -4.657717
2         2.718398
3        -6.056739
4         8.550740
           ...
18635     8.342597
18636    13.027603
18637    -0.569212
18638     0.572105
18639    12.727437
Length: 18032, dtype: float64

In [ ]:
from numpy.lib.function_base import median
median(b)

97.18551705265607

In [ ]:
modelB=sm.OLS.from_formula('entidad~sexo',data=ndf)
resultB=modelB.fit()
resultB.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                entidad   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                  0.000
Method:                 Least Squares   F-statistic:                     2.531
Date:                Fri, 02 Dec 2022   Prob (F-statistic):              0.112
Time:                        19:03:56   Log-Likelihood:                -65818.
No. Observations:               18032   AIC:                         1.316e+05
Df Residuals:                   18030   BIC:                         1.317e+05
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     16.3680      0.227     72.264      0.000      15.924      16.812
sexo           0.2216      0.139      1.591      0.112      -0.051       0.495
==============================================================================
Omnibus:                    19187.082   Durbin-Watson:                   0.201
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1122.563
Skew:                          -0.040   Prob(JB):                    1.73e-244
Kurtosis:                       1.780   Cond. No.                         7.18
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [ ]:
modelC=sm.OLS.from_formula('diastol~sistol',data=ndf)
resultC=modelC.fit()
resultC.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                diastol   R-squared:                       0.439
Model:                            OLS   Adj. R-squared:                  0.439
Method:                 Least Squares   F-statistic:                 1.409e+04
Date:                Fri, 02 Dec 2022   Prob (F-statistic):               0.00
Time:                        19:03:56   Log-Likelihood:                -64272.
No. Observations:               18032   AIC:                         1.285e+05
Df Residuals:                   18030   BIC:                         1.286e+05
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     23.9991      0.440     54.564      0.000      23.137      24.861
sistol         0.4350      0.004    118.705      0.000       0.428       0.442
==============================================================================
Omnibus:                     1016.455   Durbin-Watson:                   1.745
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             3973.980
Skew:                           0.128   Prob(JB):                         0.00
Kurtosis:                       5.286   Cond. No.                         830.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [ ]:
modelD=sm.OLS.from_formula('diastol~sistol+edad+peso+cintura',data=ndf)
resultD=modelD.fit()
resultD.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                diastol   R-squared:                       0.458
Model:                            OLS   Adj. R-squared:                  0.458
Method:                 Least Squares   F-statistic:                     3812.
Date:                Fri, 02 Dec 2022   Prob (F-statistic):               0.00
Time:                        19:04:39   Log-Likelihood:                -63952.
No. Observations:               18032   AIC:                         1.279e+05
Df Residuals:                   18027   BIC:                         1.280e+05
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     20.3297      0.520     39.089      0.000      19.310      21.349
sistol         0.4140      0.004     94.447      0.000       0.405       0.423
edad          -0.0272      0.004     -6.934      0.000      -0.035      -0.020
peso           0.0825      0.006     14.154      0.000       0.071       0.094
cintura        0.0202      0.007      3.072      0.002       0.007       0.033
==============================================================================
Omnibus:                     1031.138   Durbin-Watson:                   1.769
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             3722.633
Skew:                           0.189   Prob(JB):                         0.00
Kurtosis:                       5.194   Cond. No.                     1.39e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.39e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""